link(rel='stylesheet', href='https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css')

style.
  .sd-codeblock code {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  h6 {
    font-weight: bold;
  }

header.top-bar
  .column.row
    .top-bar-left
      ul.menu
        li.menu-text Project Title

.row
  .medium-8.medium-push-4.columns
    article.column.row
      h1= title
      if description
        p.lead= description
      hr
      != body
      each data, name in docs
        h2= name
        != spacedoc(name)
  .medium-4.medium-pull-8.columns
    nav.sd-nav
      ul.vertical.menu
        each page in site.pages
          li.menu-item: a(href=page.fileName)= page.title
