include ./nav

link(rel='stylesheet', href='https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css')

style.
  .sd-codeblock code {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  h6 {
    font-weight: bold;
  }

header.top-bar
  .column.row
    .top-bar-left
      ul.menu
        li.menu-text Project Title

.row
  .medium-8.medium-push-4.columns
    article.column.row
      h1= title
      if description
        p.lead= description
      hr
      != body
      != spacedoc('sass')
      != spacedoc('js')
  .medium-4.medium-pull-8.columns
    +nav()
