---
layout: blank
---

header.hero
  h1.hero-title Spacedoc
  h2.hero-subtitle Futuristic documentation generator

article.medium-8.column.row
  :marked
    ## Get Started
    Spacedoc requires Node 6 or greater to get going. Install the CLI tool with npm:
    ```bash
    npm install spacedoc --global
    ```
